In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Placement.csv')

In [4]:
print('Information of Dataset:\n', df.info)

Information of Dataset:
 <bound method DataFrame.info of      sl_no gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
0        1      M  67.00   Others  91.00   Others  Commerce     58.00
1        2      M  79.33  Central  78.33   Others   Science     77.48
2        3      M  65.00  Central  68.00  Central      Arts     64.00
3        4      M  56.00  Central  52.00  Central   Science     52.00
4        5    NaN  85.80  Central  73.60  Central  Commerce     73.30
..     ...    ...    ...      ...    ...      ...       ...       ...
210    211      M  80.60   Others  82.00   Others  Commerce     77.60
211    212      M  58.00   Others  60.00   Others   Science     72.00
212    213      M  67.00   Others  67.00   Others  Commerce     73.00
213    214      F  74.00   Others  66.00   Others  Commerce     58.00
214    215      M  62.00  Central  58.00   Others   Science     53.00

      degree_t workex  etest_p specialisation  mba_p      status    salary
0     Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0
1     Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
2    Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0
3     Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
4    Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  425000.0
..         ...    ...      ...            ...    ...         ...       ...
210  Comm&Mgmt     No     91.0        Mkt&Fin  74.49      Placed  400000.0
211   Sci&Tech     No     74.0        Mkt&Fin  53.62      Placed  275000.0
212  Comm&Mgmt    Yes     59.0        Mkt&Fin  69.72      Placed  295000.0
213  Comm&Mgmt     No     70.0         Mkt&HR  60.23      Placed  204000.0
214  Comm&Mgmt     No     89.0         Mkt&HR  60.22  Not Placed       NaN

[215 rows x 15 columns]>

In [5]:
 print('Shape of Dataset (row x column): ', df.shape)
 print('Columns Name: ', df.columns)
 print('Total elements in dataset:', df.size)
 print('Datatype of attributes (columns):', df.dtypes)
 print('First 5 rows:\n', df.head().T)
 print('Last 5 rows:\n',df.tail().T)
 print('Any 5 rows:\n',df.sample(5).T)

Shape of Dataset (row x column):  (215, 15)
Columns Name:  Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')
Total elements in dataset: 3225
Datatype of attributes (columns): sl_no               int64
gender             object
ssc_p             float64
ssc_b              object
hsc_p             float64
hsc_b              object
hsc_s              object
degree_p          float64
degree_t           object
workex             object
etest_p           float64
specialisation     object
mba_p             float64
status             object
salary            float64
dtype: object
First 5 rows:
                        0         1          2           3          4
sl_no                  1         2          3           4          5
gender                 M         M          M           M        NaN
ssc_p               67.0     79.33       65.0        56.0       85.8
ssc_b             Others   Central    Central     Central    Central
hsc_p               91.0     78.33       68.0        52.0       73.6
hsc_b             Others    Others    Central     Central    Central
hsc_s           Commerce   Science       Arts     Science   Commerce
degree_p            58.0     77.48       64.0        52.0       73.3
degree_t        Sci&Tech  Sci&Tech  Comm&Mgmt    Sci&Tech  Comm&Mgmt
workex                No       Yes         No          No         No
etest_p             55.0      86.5       75.0        66.0       96.8
specialisation    Mkt&HR   Mkt&Fin    Mkt&Fin      Mkt&HR    Mkt&Fin
mba_p               58.8     66.28       57.8       59.43       55.5
status            Placed    Placed     Placed  Not Placed     Placed
salary          270000.0  200000.0   250000.0         NaN   425000.0
Last 5 rows:
                       210       211        212        213         214
sl_no                 211       212        213        214         215
gender                  M         M          M          F           M
ssc_p                80.6      58.0       67.0       74.0        62.0
ssc_b              Others    Others     Others     Others     Central
hsc_p                82.0      60.0       67.0       66.0        58.0
hsc_b              Others    Others     Others     Others      Others
hsc_s            Commerce   Science   Commerce   Commerce     Science
degree_p             77.6      72.0       73.0       58.0        53.0
degree_t        Comm&Mgmt  Sci&Tech  Comm&Mgmt  Comm&Mgmt   Comm&Mgmt
workex                 No        No        Yes         No          No
etest_p              91.0      74.0       59.0       70.0        89.0
specialisation    Mkt&Fin   Mkt&Fin    Mkt&Fin     Mkt&HR      Mkt&HR
mba_p               74.49     53.62      69.72      60.23       60.22
status             Placed    Placed     Placed     Placed  Not Placed
salary           400000.0  275000.0   295000.0   204000.0         NaN
Any 5 rows:
                       101         144         161         105         186
sl_no                 102         145         162         106         187
gender                  M           M           M           M           F
ssc_p                63.0        52.0        55.6        59.0        52.0
ssc_b             Central      Others      Others     Central     Central
hsc_p                72.0        50.0        51.0        64.0        64.0
hsc_b             Central      Others      Others      Others     Central
hsc_s            Commerce        Arts    Commerce     Science    Commerce
degree_p             68.0        61.0        57.5        58.0        61.0
degree_t        Comm&Mgmt   Comm&Mgmt   Comm&Mgmt    Sci&Tech   Comm&Mgmt
workex                 No          No          No          No          No
etest_p              78.0        60.0       57.63        85.0        55.0
specialisation     Mkt&HR     Mkt&Fin      Mkt&HR      Mkt&HR     Mkt&Fin
mba_p               60.44       58.52       62.72        55.3       62.93
status             Placed  Not Placed  Not Placed  Not Placed  Not Placed
salary           380000.0         NaN         NaN         NaN         NaN

In [6]:
print('Statistical information of Numerical Columns: \n',df.describe())

Statistical information of Numerical Columns:
             sl_no       ssc_p       hsc_p    degree_p     etest_p       mba_p  \
count  215.000000  213.000000  214.000000  213.000000  213.000000  213.000000
mean   108.000000   67.372911   66.344065   66.388404   72.219390   62.266103
std     62.209324   10.811464   10.921885    7.256840   13.255118    5.837303
min      1.000000   40.890000   37.000000   50.200000   50.000000   51.210000
25%     54.500000   60.800000   60.850000   61.000000   60.000000   57.900000
50%    108.000000   67.000000   65.000000   66.000000   71.000000   62.000000
75%    161.500000   76.000000   73.000000   72.000000   84.000000   66.230000
max    215.000000   89.400000   97.700000   91.000000   98.000000   77.890000

              salary
count     148.000000
mean   288655.405405
std     93457.452420
min    200000.000000
25%    240000.000000
50%    265000.000000
75%    300000.000000
max    940000.000000

In [7]:
print('Total Number of Null Values in Dataset:', df.isna().sum())

Total Number of Null Values in Dataset: sl_no              0
gender             2
ssc_p              2
ssc_b              1
hsc_p              1
hsc_b              2
hsc_s              2
degree_p           2
degree_t           1
workex             2
etest_p            2
specialisation     2
mba_p              2
status             0
salary            67
dtype: int64

df['gender'].fillna(df['gender'].mode()[0], inplace=True)
df['ssc_p'].fillna(df['ssc_p'].mean(), inplace=True)
print('Mode of ssc_b: ', df['ssc_b'].mode())
df['ssc_b'].fillna(df['ssc_b'].mode()[0], inplace=True)

In [9]:
 df['gender'].fillna(df['gender'].mode()[0], inplace=True)
 df['ssc_p'].fillna(df['ssc_p'].mean(), inplace=True)
 print('Mode of ssc_b: ', df['ssc_b'].mode())
 df['ssc_b'].fillna(df['ssc_b'].mode()[0], inplace=True)

Mode of ssc_b:  0    Central
Name: ssc_b, dtype: object

C:\TEMPS\ipykernel_3908\2631065685.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ssc_p'].fillna(df['ssc_p'].mean(), inplace=True)

In [10]:
 df['gender'].fillna(df['gender'].mode()[0], inplace=True)
 df['ssc_p'].fillna(df['ssc_p'].mean(), inplace=True)
 print('Mode of ssc_b: ', df['ssc_b'].mode())

Mode of ssc_b:  0    Central
Name: ssc_b, dtype: object

C:\TEMPS\ipykernel_3908\894224178.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ssc_p'].fillna(df['ssc_p'].mean(), inplace=True)

In [11]:
 df['gender'].fillna(df['gender'].mode()[0], inplace=True)
 df['ssc_p'].fillna(df['ssc_p'].mean(), inplace=True)
 print('Mode of ssc_b: ', df['ssc_b'].mode())
 df['ssc_b'].fillna(df['ssc_b'].mode()[0], inplace=True)
 print('Total Number of Null Values in Dataset:', df.isna().sum())

Mode of ssc_b:  0    Central
Name: ssc_b, dtype: object
Total Number of Null Values in Dataset: sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              1
hsc_b              2
hsc_s              2
degree_p           2
degree_t           1
workex             2
etest_p            2
specialisation     2
mba_p              2
status             0
salary            67
dtype: int64

C:\TEMPS\ipykernel_3908\2636416532.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ssc_p'].fillna(df['ssc_p'].mean(), inplace=True)

In [12]:
 df['sl_no']=df['sl_no'].astype('int8')
 print('Change in datatype: ', df['sl_no'].dtypes)

Change in datatype:  int8

In [13]:
print('Datatype of attributes (columns):', df.dtypes)

Datatype of attributes (columns): sl_no                int8
gender             object
ssc_p             float64
ssc_b              object
hsc_p             float64
hsc_b              object
hsc_s              object
degree_p          float64
degree_t           object
workex             object
etest_p           float64
specialisation     object
mba_p             float64
status             object
salary            float64
dtype: object

In [15]:
df['gender'].replace(['M','F'],[0,1],inplace=True) 
print(df.info)

<bound method DataFrame.info of      sl_no  gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
0        1       0  67.00   Others  91.00   Others  Commerce     58.00
1        2       0  79.33  Central  78.33   Others   Science     77.48
2        3       0  65.00  Central  68.00  Central      Arts     64.00
3        4       0  56.00  Central  52.00  Central   Science     52.00
4        5       0  85.80  Central  73.60  Central  Commerce     73.30
..     ...     ...    ...      ...    ...      ...       ...       ...
210    -45       0  80.60   Others  82.00   Others  Commerce     77.60
211    -44       0  58.00   Others  60.00   Others   Science     72.00
212    -43       0  67.00   Others  67.00   Others  Commerce     73.00
213    -42       1  74.00   Others  66.00   Others  Commerce     58.00
214    -41       0  62.00  Central  58.00   Others   Science     53.00

      degree_t workex  etest_p specialisation  mba_p      status    salary
0     Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0
1     Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
2    Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0
3     Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
4    Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  425000.0
..         ...    ...      ...            ...    ...         ...       ...
210  Comm&Mgmt     No     91.0        Mkt&Fin  74.49      Placed  400000.0
211   Sci&Tech     No     74.0        Mkt&Fin  53.62      Placed  275000.0
212  Comm&Mgmt    Yes     59.0        Mkt&Fin  69.72      Placed  295000.0
213  Comm&Mgmt     No     70.0         Mkt&HR  60.23      Placed  204000.0
214  Comm&Mgmt     No     89.0         Mkt&HR  60.22  Not Placed       NaN

[215 rows x 15 columns]>

C:\TEMPS\ipykernel_3908\3530569416.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gender'].replace(['M','F'],[0,1],inplace=True)
C:\TEMPS\ipykernel_3908\3530569416.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['gender'].replace(['M','F'],[0,1],inplace=True)

In [17]:
print(df.dtypes)

sl_no                int8
gender              int64
ssc_p             float64
ssc_b              object
hsc_p             float64
hsc_b              object
hsc_s              object
degree_p          float64
degree_t           object
workex             object
etest_p           float64
specialisation     object
mba_p             float64
status             object
salary            float64
dtype: object

In [18]:
df['ssc_b']=df['ssc_b'].astype('category')

In [19]:
print ( df.dtypes)

sl_no                 int8
gender               int64
ssc_p              float64
ssc_b             category
hsc_p              float64
hsc_b               object
hsc_s               object
degree_p           float64
degree_t            object
workex              object
etest_p            float64
specialisation      object
mba_p              float64
status              object
salary             float64
dtype: object

In [20]:
print(df.info)

<bound method DataFrame.info of      sl_no  gender  ssc_p    ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
0        1       0  67.00   Others  91.00   Others  Commerce     58.00
1        2       0  79.33  Central  78.33   Others   Science     77.48
2        3       0  65.00  Central  68.00  Central      Arts     64.00
3        4       0  56.00  Central  52.00  Central   Science     52.00
4        5       0  85.80  Central  73.60  Central  Commerce     73.30
..     ...     ...    ...      ...    ...      ...       ...       ...
210    -45       0  80.60   Others  82.00   Others  Commerce     77.60
211    -44       0  58.00   Others  60.00   Others   Science     72.00
212    -43       0  67.00   Others  67.00   Others  Commerce     73.00
213    -42       1  74.00   Others  66.00   Others  Commerce     58.00
214    -41       0  62.00  Central  58.00   Others   Science     53.00

      degree_t workex  etest_p specialisation  mba_p      status    salary
0     Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0
1     Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
2    Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0
3     Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
4    Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  425000.0
..         ...    ...      ...            ...    ...         ...       ...
210  Comm&Mgmt     No     91.0        Mkt&Fin  74.49      Placed  400000.0
211   Sci&Tech     No     74.0        Mkt&Fin  53.62      Placed  275000.0
212  Comm&Mgmt    Yes     59.0        Mkt&Fin  69.72      Placed  295000.0
213  Comm&Mgmt     No     70.0         Mkt&HR  60.23      Placed  204000.0
214  Comm&Mgmt     No     89.0         Mkt&HR  60.22  Not Placed       NaN

[215 rows x 15 columns]>

In [21]:
df['ssc_b']=df['ssc_b'].cat.codes

In [22]:
print(df.info)

<bound method DataFrame.info of      sl_no  gender  ssc_p  ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
0        1       0  67.00      1  91.00   Others  Commerce     58.00
1        2       0  79.33      0  78.33   Others   Science     77.48
2        3       0  65.00      0  68.00  Central      Arts     64.00
3        4       0  56.00      0  52.00  Central   Science     52.00
4        5       0  85.80      0  73.60  Central  Commerce     73.30
..     ...     ...    ...    ...    ...      ...       ...       ...
210    -45       0  80.60      1  82.00   Others  Commerce     77.60
211    -44       0  58.00      1  60.00   Others   Science     72.00
212    -43       0  67.00      1  67.00   Others  Commerce     73.00
213    -42       1  74.00      1  66.00   Others  Commerce     58.00
214    -41       0  62.00      0  58.00   Others   Science     53.00

      degree_t workex  etest_p specialisation  mba_p      status    salary
0     Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  270000.0
1     Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  200000.0
2    Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  250000.0
3     Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
4    Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  425000.0
..         ...    ...      ...            ...    ...         ...       ...
210  Comm&Mgmt     No     91.0        Mkt&Fin  74.49      Placed  400000.0
211   Sci&Tech     No     74.0        Mkt&Fin  53.62      Placed  275000.0
212  Comm&Mgmt    Yes     59.0        Mkt&Fin  69.72      Placed  295000.0
213  Comm&Mgmt     No     70.0         Mkt&HR  60.23      Placed  204000.0
214  Comm&Mgmt     No     89.0         Mkt&HR  60.22  Not Placed       NaN

[215 rows x 15 columns]>

In [28]:
 from sklearn.preprocessing import OrdinalEncoder
 enc = OrdinalEncoder()
 df[['hsc_b']]=enc.fit_transform(df[['hsc_b']])

ModuleNotFoundError: No module named 'sklearn'

In [36]:
df['salary']=(df['salary']-df['salary'].min())/(df['salary'].max()-df['salary'].min())

In [38]:
print ( "min sal is" , df['salary'].min() , "/t max salary is :",df['salary'].max())

min sal is 0.0 /t max salary is : 1.0

In [30]:
print(df.info)

<bound method DataFrame.info of      sl_no  gender  ssc_p  ssc_b  hsc_p    hsc_b     hsc_s  degree_p  \
0        1       0  67.00      1  91.00   Others  Commerce     58.00
1        2       0  79.33      0  78.33   Others   Science     77.48
2        3       0  65.00      0  68.00  Central      Arts     64.00
3        4       0  56.00      0  52.00  Central   Science     52.00
4        5       0  85.80      0  73.60  Central  Commerce     73.30
..     ...     ...    ...    ...    ...      ...       ...       ...
210    -45       0  80.60      1  82.00   Others  Commerce     77.60
211    -44       0  58.00      1  60.00   Others   Science     72.00
212    -43       0  67.00      1  67.00   Others  Commerce     73.00
213    -42       1  74.00      1  66.00   Others  Commerce     58.00
214    -41       0  62.00      0  58.00   Others   Science     53.00

      degree_t workex  etest_p specialisation  mba_p      status    salary
0     Sci&Tech     No     55.0         Mkt&HR  58.80      Placed  0.094595
1     Sci&Tech    Yes     86.5        Mkt&Fin  66.28      Placed  0.000000
2    Comm&Mgmt     No     75.0        Mkt&Fin  57.80      Placed  0.067568
3     Sci&Tech     No     66.0         Mkt&HR  59.43  Not Placed       NaN
4    Comm&Mgmt     No     96.8        Mkt&Fin  55.50      Placed  0.304054
..         ...    ...      ...            ...    ...         ...       ...
210  Comm&Mgmt     No     91.0        Mkt&Fin  74.49      Placed  0.270270
211   Sci&Tech     No     74.0        Mkt&Fin  53.62      Placed  0.101351
212  Comm&Mgmt    Yes     59.0        Mkt&Fin  69.72      Placed  0.128378
213  Comm&Mgmt     No     70.0         Mkt&HR  60.23      Placed  0.005405
214  Comm&Mgmt     No     89.0         Mkt&HR  60.22  Not Placed       NaN

[215 rows x 15 columns]>

In [31]:
print('First 5 rows:\n', df.head().T)

First 5 rows:
                        0         1          2           3          4
sl_no                  1         2          3           4          5
gender                 0         0          0           0          0
ssc_p               67.0     79.33       65.0        56.0       85.8
ssc_b                  1         0          0           0          0
hsc_p               91.0     78.33       68.0        52.0       73.6
hsc_b             Others    Others    Central     Central    Central
hsc_s           Commerce   Science       Arts     Science   Commerce
degree_p            58.0     77.48       64.0        52.0       73.3
degree_t        Sci&Tech  Sci&Tech  Comm&Mgmt    Sci&Tech  Comm&Mgmt
workex                No       Yes         No          No         No
etest_p             55.0      86.5       75.0        66.0       96.8
specialisation    Mkt&HR   Mkt&Fin    Mkt&Fin      Mkt&HR    Mkt&Fin
mba_p               58.8     66.28       57.8       59.43       55.5
status            Placed    Placed     Placed  Not Placed     Placed
salary          0.094595       0.0   0.067568         NaN   0.304054

In [40]:
 from sklearn.preprocessing import MaxAbsScaler
 abs_scaler=MaxAbsScaler()
 df[['mba_p']]=abs_scaler.fit_transform(df[['mba_p']])

ModuleNotFoundError: No module named 'sklearn'

In [45]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.2.5)
Requirement already satisfied: scipy>=1.6.0 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\asus\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [47]:
 from sklearn.preprocessing import MaxAbsScaler
 abs_scaler=MaxAbsScaler()
 df[['mba_p']]=abs_scaler.fit_transform(df[['mba_p']])

In [48]:
print('First 5 rows:\n', df.head().T)

First 5 rows:
                        0         1          2           3          4
sl_no                  1         2          3           4          5
gender                 0         0          0           0          0
ssc_p               67.0     79.33       65.0        56.0       85.8
ssc_b                  1         0          0           0          0
hsc_p               91.0     78.33       68.0        52.0       73.6
hsc_b             Others    Others    Central     Central    Central
hsc_s           Commerce   Science       Arts     Science   Commerce
degree_p            58.0     77.48       64.0        52.0       73.3
degree_t        Sci&Tech  Sci&Tech  Comm&Mgmt    Sci&Tech  Comm&Mgmt
workex                No       Yes         No          No         No
etest_p             55.0      86.5       75.0        66.0       96.8
specialisation    Mkt&HR   Mkt&Fin    Mkt&Fin      Mkt&HR    Mkt&Fin
mba_p           0.754911  0.850944   0.742072    0.762999   0.712543
status            Placed    Placed     Placed  Not Placed     Placed
salary          0.094595       0.0   0.067568         NaN   0.304054